<div class="header">
  <div class="container">
    <div class="row">
      	<h2>
          <i class="glyphicon glyphicon-shopping-cart"></i> {{ basket.getBasketSize() }} items
          <a class="btn btn-default" ui-sref="app.checkout"><i class="glyphicon glyphicon-chevron-right"></i> Go to checkout</a>
        </h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" ng-repeat="product in products">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ product.name }}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            {{ product.description }}
          </div>
          <div class="col-lg-3">
            {{ product.price | currency:"£" }}
          </div>
          <div class="col-lg-3">
            <button type="button" ng-click="add(product)" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
