<div class="header">
  <div class="container">
    <div class="row">
      	<h2>
          <i class="glyphicon glyphicon-shopping-cart"></i> Your basket
          <a class="btn btn-default" ui-sref="app.list"><i class="glyphicon glyphicon-chevron-left"></i> Go back to products list</a>
        </h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" ng-if="basket.products.length > 0">
    <table class="table table-hover">
      <th>
        <td>Product</td>
        <td>Quantity</td>
        <td>Price</td>
      </th>
      <tr ng-repeat="product in basket.products">
        <td>{{ $index + 1 }}</td>
        <td>{{product.name}}</td>
        <td>
          <span>{{ product.quantity }}</span>
          <button type="button" class="btn btn-default btn-xs" ng-click="product.quantity = product.quantity + 1">+</button>
          <button type="button" ng-if="product.quantity > 1" class="btn btn-default btn-xs" ng-click="product.quantity = product.quantity - 1">-</button>
        </td>
        <td>{{product.price * product.quantity | currency:"£" }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><strong>{{ basket.getTotalPrice() | currency:"£" }}</strong></td>
      </tr>
    </table>

    <div class="input-group margin-bottom">
      <input type="text" class="form-control" ng-model="code.value" placeholder="Here enter you promo code...">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="checkPromoCode()" type="button">Check promo code</button>
      </span>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <div>
          Discount value: {{discount.amount}} {{discount.discounttype}} - {{basket.getDiscountValue(discount) | currency:"£" }}
        </div>
        <h3>
          Total sum:      {{ basket.getTotalPrice() - basket.getDiscountValue(discount) | currency:"£" }}
        </h3>
      </div>
    </div>

    <div class="input-group margin-bottom">
      <span class="input-group-addon">CREDIT CARD NUMBER</span>
      <input type="text" ng-model="card.number" class="form-control" aria-label="Amount">
    </div>

    <button type="button" class="btn btn-primary btn-lg pull-right" ng-if="card.number !== '' && card.number.length === 16" ng-click="order()">ORDER</button>

  </div>
</div>
